* {
  // transition: .2s ease-in-out all;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(210, 220, 231, 0.493);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(166, 175, 189, 0.438);
  }
}

//Solo para el parallax, no hace nada, se puede sacar
.move{
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
}

.box-floating {
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .bg-weather {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(132, 144, 151);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: blur(7px);
      opacity: 0;
      animation: fadeIn 0.4s ease-in-out forwards;
    }

    .layer {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(38, 48, 56, 0.54);
    }
  }

  .wood {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
    height: 250px;

    img {
      width: 100%;
      min-width: 1300px;
      max-height: 250px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      opacity: 0;
      animation: fadeIn 0.4s 1s ease-in-out forwards;
    }
  }

  .bg-cellphone {
    height: 90vh;
    aspect-ratio: 1 / 1.71;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    .bg {
      width: 67%;
      height: 81%;
      top: 1.9%;
      left: 16.8%;
      position: absolute;
      border-radius: 6%;
      overflow: hidden;
      background: black;
      opacity: 0;
      animation: fadeIn 0.4s 1s ease-in-out forwards;

      img {
        width: 100%;
        height: 100%;
        height: 76%;
        margin-top: 16%;
        object-fit: cover;
        object-position: bottom center;
        opacity: 0;
        animation: fadeIn 0.5s 0.3s ease-in-out forwards;
      }
    }
  }

  .cellphone {
    height: 90vh;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 100%;
      width: auto;
      opacity: 0;
      animation: fadeIn 0.4s 1s ease-in-out forwards;
    }
  }

  .today-data {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 11px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.478);
  }

  .floating-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .left-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 50vw;
      height: 100vh;

      .today-box {
        @extend .box-floating;
        width: 330px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 30vh;
        top: 10%;

        span {
          font-weight: 300;
          font-size: 16px;
        }

        .temp-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0.5rem 0;

          .temp {
            font-weight: 100;
            font-size: 80px;
            margin-right: 1rem;
          }

          img {
            height: 75px;
          }
        }

        p {
          margin: 0;
          font-weight: 100;
          font-size: 21px;
          text-transform: capitalize;
        }
      }

      .one-status-today {
        @extend .box-floating;
        position: absolute;
        top: 40%;
        width: 62px;
        height: 186px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 11px 0;

        .icon {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid white;
          border-radius: 50%;

          img {
            width: 20px;
          }
        }

        .desc {
          span {
            display: block;
            text-align: center;

            &:nth-child(1) {
              font-size: 28px;
              font-weight: 300;
              line-height: 1;
            }

            &:nth-child(2) {
              font-size: 14px;
              font-weight: 100;
            }
          }
        }

        .title {
          font-size: 14px;
          font-weight: 100;
          text-align: center;
        }

        &.wind {
          top: 40%;
          right: 30vh;
        }

        &.hum {
          top: 50%;
          right: 45vh;
        }

        &.press {
          top: 40%;
          right: 61vh;

          .desc span:nth-child(1) {
            font-size: 22px;
            line-height: 1.3;
          }
        }
      }
    }

    .right-content {
      position: absolute;
      right: 0;
      top: 0;
      width: 50vw;
      height: 100vh;
    }

    .chart-temp {
      @extend .box-floating;
      position: absolute;
      left: 22vh;
      top: 10%;
      width: 570px;
      height: 204px;
      padding-left: 1.5rem;
      overflow-x: scroll;

      h3 {
        font-weight: 300;
        font-size: 18px;
        margin: 1.5rem 0;
      }

      .bar-line-container {
        height: 80px;
        width: max-content;
        display: flex;
        align-items: flex-end;

        .column {
          width: 4px;
          margin-right: 2px;
          position: relative;

          .bar {
            width: 100%;
            height: 100%;
            background-color: #8ec6ef;
            border-radius: 10px 10px 0 0;
            position: relative;
            color: white;
            text-align: center;
            font-size: 10px;
            padding-top: 3px;
            background: linear-gradient(
              0deg,
              #84a6ff -2px,
              #a4ffce 18px,
              #ffe99d 45px,
              #ffc596 55px,
              #ff8f8f 70px
            );
          }

          .label {
            width: max-content;

            span {
              font-size: 11px;
              font-weight: 300;
              white-space: nowrap;
            }
          }

          .label-temp {
            position: absolute;
            top: -15px;
            left: -3px;
            font-size: 9px;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }

    .week-view {
      @extend .box-floating;
      position: absolute;
      left: 22vh;
      top: 40%;
      width: 570px;
      height: 220px;
      padding: 1.5rem;

      h3 {
        font-weight: 300;
        font-size: 18px;
        margin: 0;
      }

      .row {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;

        .day-box {
          margin-right: 1.2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }

          .day-text {
            font-size: 12px;
          }

          .icon {
            width: 67px;
          }

          .temp {
            font-size: 12px;
            font-weight: 300;

            b {
              color: rgba(255, 255, 255, 0.6);
              font-weight: 300;
              margin-left: 0.2rem;
            }
          }

          .prob-rain {
            font-size: 10px;
            color: #7fd8ff;
            margin-top: 0.3rem;
            display: flex;
            align-items: center;

            img {
              width: 12px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

.float-anim {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards,
    floating 4s ease-in-out infinite alternate;
  animation-delay: calc(var(--delay) * 0.1s);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
